@using BlazorServerMaui.WebComponents.Data.Auth;
@using Microsoft.AspNetCore.Components.Authorization;
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>BlazorServerMaui</PageTitle>
<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                <Authorized>
                    <a href="/form" @onclick="(()=> Logout())" >Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/form">Login</a>
                </NotAuthorized>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Benvenuto XYZ002EF</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedout();
    }
}
